<!-- HEROES -->
<main role="main" class="container bg-light text-dark px-4 py-5 text-center">

    <div class="starter-template">
        <h1 class="display-5 fw-bold">Fale Conosco</h1>
        <p class="lead">Comprou pelo Site? </br> Envie-nos uma mensagem via WhatsApp!</p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <a href="https://api.whatsapp.com/send?phone=5551997362632&text=Ol%C3%A1!%20Agradecemos%20a%20sua%20Prefer%C3%AAncia!%20" target="_blank">
            <button type="button" class="btn btn-success btn-lg px-4 me-sm-3 fw-bold"><i class="fab fa-whatsapp"></i> WhatsApp</button>
            </a>
        </div>
    </div>
</main>

<!-- PAGE CONTENT -->
<main class="flex-shrink-0">
    <div class="container">
        <br />
        <div class="jumbotron">
            <h1 class="mt-5">Outros Contatos</h1>
            <p class="lead"><i class="fas fa-envelope"></i> delivery.loucosporacai@gmail.com</p>
            <p class="lead"><i class="fas fa-phone-alt"></i> (51) 3561-0000</p>
            <h1 class="mt-5">Horário de Atendimento</h1>
            <p class="lead">De segunda a sexta-feira, das 10h às 20h, e aos sábados e domingos das 10h às 20h.</p>
        </div>
</main>
