<!-- HEROES -->
<div class="px-4 py-5 my-5 text-center">
    <img class="d-block mx-auto mb-4" src="~/Image/logo2.png" alt="Logotipo Viciados por Açaí" width="100px">
    <h1 class="display-5 fw-bold">Delivery do Açaí</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">Você também é apaixonado por Açaí? Faça o seu pedido aqui, no Loucos por Acaí, e aproveite nossas promoções diárias para sempre se deliciar com o melhor do açaí.</p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <a asp-controller="Lanche" asp-action="List"><button type="button" class="btn btn-primary btn-lg px-4 gap-3"> Faça o seu Pedido</button></a>
        </div>
    </div>
</div>
