<!-- HEROES -->
<main role="main" class="container bg-light text-dark px-4 py-5 text-center">

    <div class="starter-template">
        <h1 class="display-5 fw-bold">Área do Administrador</h1>
    </div>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <a asp-area="" asp-controller="Home" asp-action="Index">
            <button type="button" class="btn btn-primary btn-sm px-4 me-sm-3 fw-bold"></i> Voltar ao Home Page</button>
        </a>
    </div>
</main>
